* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

a {
    text-decoration: none;
    color: #ffff;
    font-family: 'Open Sans', sans-serif;

}

ul li {
    list-style: none;
    margin: 15px;
    display: inline-block;
    padding-top: 1%;
}

/* .menu>nav {
    margin-right: 100px;
} */

p {
    font-family: 'Montserrat', sans-serif;
}

/*centrar la pagina*/
.inicio-container {
    width: 100%;
    margin: 0 auto;
    padding-left: 10%;
    padding-right: 10%;
}
.footer-container, .menu-soporte {
    margin: 0 auto;
    padding-left: 20%;
    padding-right: 20%;
}

.menu {
    background-color: #3533cd;
    height: 80px;
    width: 100%;
    text-align: right;
    /* para que el menu aparezca arriba del slider z-inder */
    z-index: 1000;
}

.nav-a:hover {
    text-decoration: underline;
    font-weight: 700;
}

/*Titulo principal de todos los html*/
.titulo {
    text-align: center;
    margin: 30px;
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #1d252c;
}

.titulo2 {
    text-align: center;
    margin: 20px;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #484947;
}
.medida-img {
width: 80%;

}

/*estilos index.html*/
.primer-parrafo {
    display: inline-block;
    margin-right: 3%;
    padding: 30px 30px 0 30px;
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
    line-height: 20px;
}

.main-parrafo-div {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.main-img-parrafo1 {
    border-radius: 15px;
    margin-top: 10%;
}

.primer-parrafo>h3,
p {
    margin-top: 20px;
}

.main-parrafo-inicio h2,
p {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 30px;
}

.main-video-parrafo {
    display: flex;
    justify-content: space-between;

}
.card-center {
    height: 300px;
}
.centrar-tarjeta {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}


.fondo-video {
    background-color: #f2f2f6;
}


.main-video1 {
    margin-top: 5%;
    margin-bottom: 5%;
}

.main-video {
    width: 80%;
    height: 315px;
}

.boton-main {

    display: flex;
    justify-content: center;
}


.main-parrafo-inicio {
    margin-top: 50px;
    width: 410px;
}

.texto-centrado {
    text-align: center;
}


.logo {
    width: 120px;
    height: 80px;
    margin-left: 50px;
    float: left;
    border-radius: 5px;
}

.margin {
    margin-top: 60px;
    margin-bottom: 60px;
}

.margin>h1 {
    font-size: 30px;
}

.container-tarjeta {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.img-css {
    width: 100px;
    height: 150px;
    float: left;
    align-items: center;
    margin: 0px 50px 0px 40px;
}

.img-css>a img {
    width: 150px;
    height: 100px;
    /* box-shadow: 0 5px 10px rgb(0, 0, 1); */
}
.icon-inicio {
    justify-content: center;
  font-size: 50px;
}

/*Zoom a los logos y a los iconos con pseudoclase hover*/
.img-css:hover {
    transform: scale(1.5);
    transform: scale(1.2);
    transition-duration: 0.3s;
    transition-timing-function: linear;
    transition-delay: 0.2s;
}


.redes-sociales:hover {
    transform: scale(1.5);
    background-color: #3533cd;
    border-radius: 5px;
}

.whatsapp:hover {
    margin: 20px;
    transform: scale(1.5);
}

.tarjeta:hover {
    transform: scale(1.2);
    transition-duration: 0.3s;
    transition-timing-function: linear;
    transition-delay: 0.2s;
}
.boton a {
    color: #5d635f;
}

.boton {
    color: #5d635f;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    border: 2px solid #1d252c;
    border-radius: 20px;
    width: 140px;
    height: 20px;
}


.boton a:hover {
    color: #3533cd;
    font-size: 18px;
}
.enlace-boton-soporte {
    font-size: 13px;
}
.enlace-boton-soporte a:hover {
    font-size: 16px;
}

.boton:hover {
    background-color: #d2d2dd;
    border: #3533cd;
    width: 150px;
}

.btn-secondary:hover {
    background-color: #3533cd;
    font-weight: bold;
}

.btn-secondary {
    background-color: #8a8aa4;
}

.boton-css {
    display: flex;
    justify-content: center;
    align-items: center;

}

/*estilos de html "quienes somos"*/


/*estilos de html "planes"*/
.planes {
    border: 1px solid #8a8a8a;
    width: 500px;
    height: 860px;
    margin-left: 50px;
    padding: 70px 30px;
    text-align: justify;
    border-radius: 30px;
    box-shadow: 0 3px 8px rgb(0, 0, 1);
}

.titulo-planes {
    margin-top: 110px;
}

.plan {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    margin-bottom: 90px;
}

.plan>h2 {
    margin: 200px;
}

.span-plan {
    font-weight: 700;
    color: #08090a;
}

.boton-planes {
    text-align: center;
    margin-bottom: 30px;
}

.whatsapp {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 70px;
    height: 60px;
}


/*estilos de html "Soporte"*/

.soporte-form {
    border: 2px solid #8a8a8a;
    padding: 40px 20px;
    border-radius: 15px;
    width: 400px;
    margin: auto;
    background-color: rgba(0, 0, 0, .75);
    box-shadow: 0 5px 10px rgb(243, 243, 243);
}

.soporte-form>a:hover {
    color: #3533cd;
    text-decoration: underline;
    font-weight: bold;
}

.soporte-form>a {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.inicio-sesion {
    color: #ffffff;
    margin: 30px;
    text-align: center;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;

}

.inicio-sesion>p {
    display: flex;
    justify-content: flex-start;
    margin-top: 0;
    margin-bottom: 10px;
}


.iniciar {
    background-color: #c2c2ce;
    margin-bottom: 16px;
    border-radius: 5px;
    border: 3px solid #f4f6f8;
    padding: 10px;
}
.form-floating>label {
    color: #3533cd;
    font-size: 15px;
}
.iniciar::placeholder {
    color: #3533cd;
    font-size: 15px;
}
.recordar {
    font-size: 15px;
}
.fondo-soporte {
    background-image: url(../img/fondo1.jpg);
    /* height: 100vh; */
}

.formulario {
    margin: 100px auto;
}



/*estilos de html "Contacto"*/
.contacto-form {
    width: 400px;
    padding: 15px;
    margin: auto;
}


.tam-form {
    margin-bottom: 16px;
}

.clase>h1 {
    margin-top: 100px;
}

.contacto-form>h2 {
    margin-bottom: 30px;
}

.contacto {
    width: 100%;
    margin-bottom: 16px;
    border-radius: 5px;
    border: 1px solid #08090a;
    padding: 10px;

}

.mapa {
    margin-left: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.mapa-css {
    width: 950px;
    height: 300px;
}

/*estilos-Nuestro equipo de Trabajo grid.html  */
.contenedor {
    background-color: #f0f0f7;
    padding: 15px 9%;
    padding-bottom: 30px;

}

.contenedor .titulo {
    padding-top: 100px;
}

.contenedor .titulo2 {
    padding-top: 80px;
}

.contenedor .boton-planes {
    padding-top: 20px;
}

.contenedor .caja-contenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-top: 20px;
}

.contenedor .caja-contenedor .caja {
    box-shadow: 0 5px 10px rgb(0, 0, 2);
    background: #ffff;
    text-align: center;
    padding: 30px 20px;
    font-family: 'Open Sans', sans-serif;
}

.contenedor .caja-contenedor .caja img {
    height: 150px;
}

.contenedor .caja-contenedor .caja h3 {
    color: #444;
    font-size: 22px;
    padding: 5px 0 5px 0;
}

.contenedor .caja-contenedor .caja p {
    color: #777;
    font-size: 15px;
    line-height: 1.8;
}

.contenedor .caja-contenedor .caja:hover {
    transform: scaleX(1.02);
    box-shadow: 0 10px 15px rgb(0, 0, 3);
}


/*Estilos del footer de todos los html*/
.horario>ul {
    display: flex;
    flex-direction: column;
}

.redes-sociales {
    margin: 10px;
}

.redes-footer {
    display: flex;
    justify-content: center;
    border-radius: 20px;
}

.footer {
    background-color: #1d252c;
    color: aliceblue;
    padding-top: 60px;
}

.footer-logo {
    width: 180px;
    height: 130px;
}

/*lista del footer*/
ol li {
    list-style-type: none;
    margin-bottom: 15px;
}

.footer-menu {
    width: 160px;
    border-right: 3px solid #c2c2ce;
}

.footer-menu a:hover {
    color: #3533cd;
    font-weight: bold;
    text-transform: uppercase;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.footer-titulos {
    margin-bottom: 20px;
    text-align: center;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.letra {
    font-size: 13px;
    margin-bottom: 0;
    padding-bottom: 10px;
    border-top: 1px solid #ffff;
    background-color: #141a1f;
}

/*menu*/
@media (max-width: 991px) {
    .menu {
        background-color: #57585962;
        width: 100%;
    }

    .navbar-nav {
        background-color: #3533cd;
        width: 40%;
        margin-left: auto;
        border: 4px solid #57585962;
        border-radius: 15px;
    }

    .nav-item {
        padding: 0 0 0 30px;
        margin: 0;
        text-align: start;
    }

    .nav-item:hover {
        background-color: #57585962;
    }
    /* quienes somos */
    .inicio-container {
        padding-left: 5%;
    padding-right: 5%;
        margin: 0%;
    }
}

/*footer*/
@media (min-width:577px) and (max-width: 1023px) {

    /* .footer-container,
    .footer-redes {
        display: flex;
        width: 60%;
        border: 0;
        justify-content: center;
    }

    .footer {
        padding-top: 40px;
        width: 100%;
    } 

    .footer-menu {
        border: 0;
        font-size: 13px;
    }

    .redes-sociales {
        width: 40px;
        height: 40px;
        margin-right: 30px;
    }

    .redes-footer {
        flex-direction: column;
    }

    .footer-logo {
        margin-top: 5px;
        margin-left: 0%;
        width: 100px;
        height: 70px;
    }

    .footer-titulos {
        display: none;
    }

    .footer-horario {
        display: none;
    } */

    .letra {
        font-size: 10px;
        background-color: #57585962;
    } 
    /* soporte */
.menu .menu-soporte {
    text-align:start;
   
}

}

/*footer*/
@media (min-width:350px) and (max-width: 576px) {

    .footer-planes{
        display: flex;
        flex-wrap: wrap;
        border: 0;
        justify-content: center;
    }
    .footer-container,
    .footer-redes {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        border: 0;
        justify-content: center;
    }

    .footer {
        padding-top: 30px;
    }

    .footer-menu {
        margin-right: 30px;
        border: 0;
        justify-content: center;
        text-align: center;
        font-size: 13px;
    }

    .redes-sociales {
        width: 30px;
        height: 30px;

    }

    .footer-logo {
        margin-top: 5px;
        margin-left: 0%;
        width: 80px;
        height: 50px;
    }

    .footer-titulos {
        display: none;
    }

    .footer-horario {
        display: none;
    }

    .letra {
        font-size: 10px;
        background-color: #57585962;
    }

}
/* Media queries de Nuestro equipo */

@media (max-width: 900px) {
    .contenedor .caja-contenedor { grid-template-columns: repeat(2, 1fr); }
  }
@media (min-width:350px) and (max-width:576px) {

    .soporte-form {
        width: 350px;
    }
    .contenedor .caja-contenedor { grid-template-columns: repeat(1, 1fr); }
    
    .centrar-tarjeta {
        display: flex;
        justify-content: center;
        margin: 0%;
        width: auto;
    }
   
    /*index.html*/
    .primer-parrafo>p {
        font-size: 14px;
        padding: 0%;
    }

    .primer-parrafo>h3 {
        color: #01003f;
        font-size: 18px;
    }

    .main-parrafo-div {
        flex-direction: column;
        margin: 0 auto;
    }

    .main-img-parrafo1 {
        width: 100%;
        border-radius: 5px;
      margin-left: auto;
      margin-right: auto;
    }
    .contenedor-img {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }

    .main-boton1 {
        margin-top: 3%;
        margin-left: 13%;    }

    /*-----*/
    .reverse {
       display: flex;
        flex-direction: column-reverse;
    }

    .main-parrafo-inicio {
        margin-top: 50px;
        font-size: 14px;
    }

    .main-parrafo-inicio>h3 {
        color: #3533cd;
        font-size: 18px;
    }

    .main-video {
        width: 80%;
        height: 200px;
    }
    .main-video1  {
       padding-left: 10%;
    }

    /*-----*/
    .margin {
        margin: 0%;
        display: flex;

    }

    .margin>h1 {
        font-size: 18px;
        color: #3533cd;
    }

    .img-css {
        height: auto;
        margin: 20px 10px 20px 10px;
    }

    .img-css>a img {
        width: 80px;
        height: 50px;
        float: left;

    }

    .img-css:hover {
        transform: none;
    }

    .ocultar {
        display: none;
    }

    /*Todos los titulos de los html*/
    .titulo {
        margin: 20px;
        font-size: 18px;
        color: #3533cd;
    }

    .titulo2 {
        margin: 10px;
        font-size: 18px;

    }

    /*HTML CONTACTO*/

    .mapa-css {
        width: 290px;
        height: 200px;
    }

    .contacto-form {
        width: 280px;
    }
 /* HTML planes */
 .plan {
    display: flex;
    flex-direction: column;
}

.planes {
    height: 700px;
    width: 319px;
    font-size: 12px;
}
.plan-basico {
    height: 600px; 
}

.plan-mt {
    margin-top: 50px;
}

.titulo-planes {
    margin-top: 80px;

}

.parrafo-plan {
    display: none;
}

/* soporte */
.menu .menu-soporte {
    text-align:start;
    font-size: 13px;
   
}
}

@media ((min-width:577px) and (max-width:767px)) {
   
    .reverse {
        display: flex;
         flex-direction: column-reverse;
     }
    .primer-parrafo>p {
        font-size: 18px;
        padding: 0%;
        width: 100%;

    }

    .primer-parrafo>h3 {
        color: #0b07e2;
        font-size: 22px;
    }

    .main-parrafo-div {
        flex-direction: column;
        margin: 0 auto;
    }

    .main-img-parrafo1 {
        width: 400px;
        border-radius: 5px;
       margin-left: auto;
       margin-right: auto;
        justify-content: center;
    }

    .main-boton1 {
        margin-top: 3%;
        margin-left: 13%;

    }

    .container {
        justify-content: flex-start;
    }

    .main-video-parrafo {
        flex-direction: column-reverse;
    }

    .fondo-div {
        width: 100%;
    }

    .main-parrafo-inicio {
        margin-top: 50px;
        margin-left: 13%;
        width: 50%;
        font-size: 18px;
    }

    .main-parrafo-inicio>h3 {
        color: #3533cd;
        font-size: 22px;
    }

    .main-video {
        width: 480px;
        height: 300px;
        margin-left: 5%;
    }

    /*Todos los titulos de los html*/
    .titulo {
        margin: 20px;
        font-size: 20px;
        color: #3533cd;
    }

    .titulo2 {
        margin: 5px;
        font-size: 18px;
        color: #1d252c;
    }

    /*HTML CONTACTO*/

    .mapa-css {
        width: 500px;
        height: 250px;
    }

    .contacto-form {
        width: 340px;
    }

    /* HTML planes */
    .plan {
        display: flex;
        flex-direction: column;

    }

    .planes {
        height: 600px;
    }

    .plan-mt {
        margin-top: 50px;
        height: 680px;
    }

    .titulo-planes {
        margin-top: 80px;

    }

    .parrafo-plan {
        display: none;
    }
}
@media  (max-width:991px) {
.reverse {
    display: flex;
     flex-direction: column-reverse;
}

 }
@media ((min-width:768px) and (max-width:1023px)) {
    .primer-parrafo>p {
        font-size: 18px;
        padding: 0%;
    }

    .primer-parrafo>h3 {
        color: #0b07e2;
        font-size: 22px;
    }

    .main-img-parrafo1 {
        width: 300px;
    }

    .main-parrafo-div {
        justify-content: start;
    }

    .main-boton1 {
        margin-top: 3%;
        margin-left: 13%;

    }

    /*---*/
    


    .main-parrafo-inicio>p {
        font-size: 13px;
    }

    .main-video-parrafo {
        justify-content: space-around;

    }

    .main-parrafo-inicio>h3 {
        color: #3533cd;
        font-size: 18px;
        text-align: center;
    }

    .main-video {
        width: 380px;
        height: 200px;
        margin-left: 3%;
    }

    /*Todos los titulos de los html*/
    .titulo {
        margin: 20px;
        font-size: 26px;
        color: #3533cd;
    }

    .titulo2 {
        margin: 5px;
        font-size: 21px;
        color: #1d252c;
    }

    /*HTML CONTACTO*/

    .mapa-css {
        width: 580px;
        height: 280px;
    }

    .contacto-form {
        width: 380px;
    }

    /* HTML planes */
    .plan {
        display: flex;
        flex-direction: column;

    }

    .planes {
       height: 630px;
    }

    .plan-mt {
        margin-top: 50px;
        height: 680px;
    }

    .titulo-planes {
        margin-top: 80px;

    }

    .parrafo-plan {
        display: none;
    }

}
@media (min-width: 1000px) {
    .main-video {
      width: 100%;
    
    }
    .main-parrafo-inicio {
        margin-left: 6%;

    }
  }